<h2>商品一覧</h2>
    <div class="card-list-container py-5">
      <% @items.each do |item| %>
      <div class="card w-50 mx-auto mt-5 shadow-lg">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_item_image(200,200), class:"card-img-top"; %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <div class="card-title">
                <%= item.name %>
              </div>
              <div class="card-text">
                ¥<%= item.price %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
